[submodule "modules/maven"]
	path = modules/maven
	url = git@github.com:maestrodev/puppet-maven.git
[submodule "modules/ha"]
	path = modules/ha
	url = git@github.com:puppetlabs/puppetlabs-haproxy.git
[submodule "modules/redis"]
	path = modules/redis
	url = git@github.com:fsalum/puppet-redis.git
[submodule "modules/nginx"]
	path = modules/nginx
	url = git@github.com:jfryman/puppet-nginx.git
[submodule "modules/java"]
	path = modules/java
	url = git@github.com:puppetlabs/puppetlabs-java.git
[submodule "modules/vertx"]
	path = modules/vertx
	url = git@github.com:Adcade/puppet-vertx.git
